/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/03/02, 16:13:54
    Author     : budougumi0617
*/

.panel{
    background-color: rgba(200,200,200,60);
    width: 200px;
    text-align: center;
    border: 2px solid gray;
}

#width .value{
    background-color: whitesmoke;
}